---
http_interactions:
- request:
    method: get
    uri: https://wpcommercetest.wpengine.com/wp-json/wc/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://wpcommercetest.wpengine.com/wp-json/>; rel="https://api.w.org/"
      Last-Modified:
      - ''
      X-Qm-Overview-Time-Taken:
      - '0.8269'
      X-Qm-Overview-Time-Usage:
      - 0.0% of 3,600s limit
      X-Qm-Overview-Memory:
      - 47,630 kB
      X-Qm-Overview-Memory-Usage:
      - 9.1% of 524,288 kB limit
      X-Wp-Total:
      - '10'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET, POST
      X-Pass-Why:
      - auth
      X-Type:
      - default
    body:
      encoding: UTF-8
      string: '[{"id":7427,"code":"tgtestcoupon","date_created":"2016-11-22T08:22:28","date_modified":"2016-11-22T08:22:28","discount_type":"fixed_product","description":"Test
        coupon","amount":"50.00","expiry_date":"2016-11-28T16:00:00","usage_count":1,"individual_use":false,"product_ids":[],"exclude_product_ids":[],"usage_limit":null,"usage_limit_per_user":null,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"0.00","maximum_amount":"0.00","email_restrictions":[],"used_by":["5"],"_links":{"self":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/coupons\/7427"}],"collection":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/coupons"}]}},{"id":4948,"code":"tg-test","date_created":"2016-03-30T21:36:07","date_modified":"2016-03-30T21:36:07","discount_type":"fixed_cart","description":"Test
        SO cycle","amount":"50.00","expiry_date":"2016-03-30T16:00:00","usage_count":0,"individual_use":false,"product_ids":[],"exclude_product_ids":[],"usage_limit":null,"usage_limit_per_user":null,"limit_usage_to_x_items":null,"free_shipping":false,"product_categorie[...]
- request:
    method: get
    uri: https://wpcommercetest.wpengine.com/wp-json/wc/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://wpcommercetest.wpengine.com/wp-json/>; rel="https://api.w.org/"
      X-Pass-Why:
      - auth
    body:
      encoding: UTF-8
      string: '{"code":"woocommerce_rest_cannot_view","message":"Sorry, you cannot
        list resources.","data":{"status":401}}'
  recorded_at: Thu, 27 Apr 2017 08:39:30 GMT
recorded_with: VCR 2.9.3
