---
http_interactions:
- request:
    method: get
    uri: https://wpcommercetest.wpengine.com/wp-json/wc/v1/orders/6149/notes/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://wpcommercetest.wpengine.com/wp-json/>; rel="https://api.w.org/"
      Last-Modified:
      - ''
      X-Qm-Overview-Time-Taken:
      - '0.5828'
      X-Qm-Overview-Time-Usage:
      - 0.0% of 3,600s limit
      X-Qm-Overview-Memory:
      - 48,799 kB
      X-Qm-Overview-Memory-Usage:
      - 9.3% of 524,288 kB limit
      Allow:
      - GET, POST
      X-Pass-Why:
      - auth
      X-Type:
      - default
    body:
      encoding: UTF-8
      string: '[{"id":7805,"date_created":"2016-06-15T03:00:40","note":"Carrier: Blah
        Blah\n               Tracking Number: BB1234567890","customer_note":false,"_links":{"self":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders\/6149\/notes\/7805"}],"collection":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders\/6149\/notes"}],"up":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders\/6149"}]}},{"id":7750,"date_created":"2016-06-15T02:56:54","note":"Carrier:
        Blah Blah\n               Tracking Number: BB1234567890","customer_note":false,"_links":{"self":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders\/6149\/notes\/7750"}],"collection":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders\/6149\/notes"}],"up":[{"href":"https:\/\/wpcommercetest.wpengine.c[...]
[...]
- request:
    method: post
    uri: https://wpcommercetest.wpengine.com/wp-json/wc/v1/orders/6149/notes/
    body:
      encoding: UTF-8
      string: '{"id":null,"customer_note":null,"note":"Carrier: Blah Blah\n               Tracking
        Number: BB1234567890","date_created":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://wpcommercetest.wpengine.com/wp-json/>; rel="https://api.w.org/"
      Last-Modified:
      - ''
      X-Qm-Overview-Time-Taken:
      - '0.6107'
      X-Qm-Overview-Time-Usage:
      - 0.0% of 3,600s limit
      X-Qm-Overview-Memory:
      - 48,769 kB
      X-Qm-Overview-Memory-Usage:
      - 9.3% of 524,288 kB limit
      Location:
      - https://wpcommercetest.wpengine.com/wp-json/wc/v1/orders/6149/notes/32340
      Allow:
      - GET, POST
      X-Type:
      - default
    body:
      encoding: UTF-8
      string: '{"id":32340,"date_created":"2017-04-27T08:35:36","note":"Carrier: Blah
        Blah\n               Tracking Number: BB1234567890","customer_note":false,"_links":{"self":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders\/6149\/notes\/32340"}],"collection":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders\/6149\/notes"}],"up":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders\/6149"}]}}'
  recorded_at: Thu, 27 Apr 2017 08:35:37 GMT
- request:
    method: get
    uri: https://wpcommercetest.wpengine.com/wp-json/wc/v1/orders/6149
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://wpcommercetest.wpengine.com/wp-json/>; rel="https://api.w.org/"
      Last-Modified:
      - ''
      X-Qm-Overview-Time-Taken:
      - '0.6099'
      X-Qm-Overview-Time-Usage:
      - 0.0% of 3,600s limit
      X-Qm-Overview-Memory:
      - 47,990 kB
      X-Qm-Overview-Memory-Usage:
      - 9.2% of 524,288 kB limit
      Allow:
      - GET, POST, PUT, PATCH, DELETE
      X-Pass-Why:
      - auth
      X-Type:
      - default
    body:
      encoding: UTF-8
      string: '{"id":6149,"parent_id":0,"status":"on-hold","order_key":"wc_order_573185d2bd32c","number":"6149","currency":"SGD","version":"2.6.0","prices_include_tax":false,"date_created":"2016-05-10T06:55:00","date_modified":"2016-06-14T03:53:58","customer_id":5,"discount_total":"0.00","discount_tax":"0.00","shipping_total":"100.00","shipping_tax":"7.00","cart_tax":"1.61","total":"131.61","total_tax":"8.61","billing":{"first_name":"Maria","last_name":"Lopez","company":"TestAddress","address_1":"123
        Shippingtest","address_2":"","city":"Manila","state":"00","postcode":"1234","country":"PH","email":"mariatest@tg.com","phone":"123421312"},"shipping":{"first_name":"Maria","last_name":"Lopez","company":"TestAddress","address_1":"123
        Shippingtest","address_2":"","city":"Manila","state":"00","postcode":"1234","country":"PH"},"payment_method":"cheque","payment_method_title":"Cheque
        Payment","transaction_id":"","customer_ip_address":"202.55.70.117","customer_user_agent":"Mozilla\/5.0
        (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit\/537.36 (KHTML, like Gecko)
        Chrome\/50.0.2661.94 Safari\/537.36","created_via":"checkout","customer_note":"this
        is a note created when checking out","date_completed":null,"date_paid":null,"cart_hash":"","line_items":[{"id":1461,"name":"[Sample]
        Tomorrow is today, Red printed scarf","sku":"232323","product_id":3097,"variation_id":0,"quantity":1,"tax_class":"","price":"23.00","subtotal":"23.00","subtotal_tax":"1.61","total":"23.00","total_tax":"1.61","taxes":[{"id":1,"total":"1.61","subtotal":"1.61"}],"meta":[]}],"tax_lines":[{"id":1463,"rate_code":"GST-1","rate_id":1,"label":"GST","compound":false,"tax_total":"1.61","shipping_tax_total":"7.00"}],"shipping_lines":[{"id":1462,"method_title":"Flat
        Rate","method_id":"flat_rate","total":"100.00","total_tax":"0.00","taxes":[]}],"fee_lines":[],"coupon_lines":[],"refunds":[],"_links":{"self":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders\/6149"}],"collection":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/orders"}],"customer":[{"href":"https:\/\/wpcommercetest.wpengine.com\/wp-json\/wc\/v1\/customers\/5"}]}}'
  recorded_at: Thu, 27 Apr 2017 08:35:38 GMT
- request:
    method: get
    uri: https://wpcommercetest.wpengine.com/wp-json/wc/v1/orders/6149/notes/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://wpcommercetest.wpengine.com/wp-json/>; rel="https://api.w.org/"
      X-Pass-Why:
      - auth
    body:
      encoding: UTF-8
      string: '{"code":"woocommerce_rest_cannot_view","message":"Sorry, you cannot
        list resources.","data":{"status":401}}'
  recorded_at: Thu, 27 Apr 2017 08:39:33 GMT
[...]
- request:
    method: get
    uri: https://wpcommercetest.wpengine.com/wp-json/wc/v1/orders/6149
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://wpcommercetest.wpengine.com/wp-json/>; rel="https://api.w.org/"
      X-Pass-Why:
      - auth
    body:
      encoding: UTF-8
      string: '{"code":"woocommerce_rest_cannot_view","message":"Sorry, you cannot
        view this resource.","data":{"status":401}}'
  recorded_at: Thu, 27 Apr 2017 08:39:37 GMT
recorded_with: VCR 2.9.3
