---
http_interactions:
- request:
    method: get
    uri: https://wpcommercetest.wpengine.com/wc-api/v2/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Wc-Total:
      - '9'
      X-Wc-Totalpages:
      - '1'
      X-Pass-Why:
      - auth
      X-Type:
      - default
    body:
      encoding: UTF-8
      string: '{"coupons":[{"id":4948,"code":"tg-test","type":"fixed_cart","created_at":"2016-03-30T13:36:07Z","updated_at":"2016-03-30T13:36:07Z","amount":"50.00","individual_use":false,"product_ids":[],"exclude_product_ids":[],"usage_limit":null,"usage_limit_per_user":null,"limit_usage_to_x_items":0,"usage_count":0,"expiry_date":"2016-03-31T00:00:00Z","enable_free_shipping":false,"product_category_ids":[],"exclude_product_category_ids":[],"exclude_sale_items":false,"minimum_amount":"0.00","maximum_amount":"0.00","customer_emails":[],"description":"Test
        SO cycle"},{"id":4870,"code":"croutoncode","type":"fixed_product","created_at":"2016-03-29T07:38:19Z","updated_at":"2016-03-30T03:36:14Z","amount":"20.00","individual_use":false,"product_ids":[],"exclude_product_ids":[],"usage_limit":null,"usage_limit_per_user":null,"limit_usage_to_x_items":0,"usage_count":4,"expiry_date":"2016-03-31T00:00:00Z","enable_free_shipping":false,"product_category_ids":[],"exclude_product_category_ids":[],"exclude_sale_items":false,"minimum_amount":"0.00"[...]
