---
http_interactions:
- request:
    method: delete
    uri: https://wpcommercetest.wpengine.com/wc-api/v3/products/6545
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Deleted product"}'
  recorded_at: Wed, 15 Jun 2016 03:02:31 GMT
- request:
    method: delete
    uri: https://wpcommercetest.wpengine.com/wc-api/v3/products/6545?force=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Type:
      - default
    body:
      encoding: UTF-8
      string: '{"message":"Permanently deleted product"}'
  recorded_at: Wed, 15 Jun 2016 03:02:36 GMT
- request:
    method: get
    uri: https://wpcommercetest.wpengine.com/wc-api/v3/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://wpcommercetest.wpengine.com/wc-api/v3/products?page=22>; rel="last"
      - <https://wpcommercetest.wpengine.com/wc-api/v3/products?page=2>; rel="next"
      X-Wc-Total:
      - '215'
      X-Wc-Totalpages:
      - '22'
      X-Pass-Why:
      - auth
      X-Type:
      - default
    body:
      encoding: UTF-8
      string: '{"products":[{"title":"UpdatedTitle","id":6528,"created_at":"2016-06-15T04:23:07Z","updated_at":"2016-06-15T04:23:10Z","type":"simple","status":"publish","downloadable":false,"virtual":false,"permalink":"https:\/\/wpcommercetest.wpengine.com\/product\/premium-quality-test-35\/","sku":"","price":"34.77","regular_price":"34.77","sale_price":null,"price_html":"<span
        class=\"woocommerce-Price-amount amount\"><span class=\"woocommerce-Price-currencySymbol\">&#36;<\/span>37.20<\/span>","taxable":true,"tax_status":"taxable","tax_class":"","managing_stock":true,"stock_quantity":345,"in_stock":true,"backorders_allowed":false,"backordered":false,"sold_individually":false,"purchaseable":true,"featured":false,"visible":true,"catalog_visibility":"visible","on_sale":false,"product_url":"","button_text":"","weight":null,"dimensions":{"length":"","width":"","height":"","unit":"cm"},"shipping_required":true,"shipping_taxable":true,"shipping_class":"","shipping_class_id":null,"description":"<p>Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo.<\/p>\n","short_description":"<p>Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<\/p>\n","reviews_allowed":true,"average_rating":"0.00","rating_count":0,"related_ids":[],"upsell_ids":[],"cross_sell_ids":[],"parent_id":0,"categories":[],"tags":[],"images":[{"id":6529,"created_at":"2016-06-15T04:23:09Z","updated_at":"2016-06-15T04:23:10Z","src":"https:\/\/wpcommercetest.wpengine.com\/wp-content\/uploads\/2016\/06\/placeholder-18.png","title":"Placeholder","alt":"Placeholder","position":0}],"featured_src":"https:\/\/wpcommercetest.wpengine.com\/wp-content\/uploads\/2016\/06\/placeholder-18.png","attributes":[],"downloads":[],"download_limit":0,"download_expiry":0,"download_type":"","purchase_note":"","total_sales":0,"variations":[],"parent":[],"grouped_products":[],"menu_order":0},{"title":"Premium
        Quality (TEST)","id":6527,"created_at":"2016-06-15T04:23:04Z","updated_at":"2016-06-15T04:23:04Z","type":"simple","status":"publish","downloadable":false,"virtual":false,"permalink":"https:\/\/wpcommercetest.wpengine.com\/product\/premium-quality-test-34\/","sku":"","price":"21.99","regular_price":"21.99","sale_price":null,"price_html":"<span
        class=\"woocommerce-Price-amount amount\"><span class=\"woocommerce-Price-currencySymbol\">&#36;<\/span>23.53<\/span>"[...]
[...]
- request:
    method: post
    uri: https://wpcommercetest.wpengine.com/wc-api/v3/products
    body:
      encoding: UTF-8
      string: '{"product":{"id":null,"wc_attributes":[{"name":"Size","options":["S","M"]}],"catalog_visibility":null,"cross_sell_ids":[],"description":"Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo.","dimensions":null,"download_expiry":null,"download_limit":null,"download_type":null,"downloadable":null,"downloads":null,"featured":null,"images":[],"in_stock":null,"managing_stock":true,"parent":null,"parent_id":null,"purchase_note":null,"regular_price":"21.99","reviews_allowed":null,"sale_price":null,"shipping_class":null,"short_description":"Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.","sku":null,"sold_individually":null,"status":null,"stock_quantity":345,"tax_class":null,"tax_status":null,"title":"Premium
        Quality (TEST)","total_sales":null,"type":"variable","upsell_ids":[],"variations":[{"id":null,"wc_attributes":[{"name":"Size","option":"S"}],"dimensions":null,"download_expiry":null,"download_limit":null,"downloadable":null,"downloads":[],"image":[],"images":[],"in_stock":null,"managing_stock":true,"regular_price":"123.0","sale_price":null,"shipping_class":null,"sku":null,"stock_quantity":321,"tax_class":null,"tax_status":null,"virtual":null,"weight":null,"created_at":null,"updated_at":null,"backordered":null,"backorders_allowed":null,"on_sale":null,"permalink":null,"price":null,"purchaseable":null,"shipping_class_id":null,"taxable":null,"visible":null,"backorders":null,"sale_price_dates_from":null,"sale_price_dates_to":null,"attributes":[{"name":"Size","option":"S"}]},{"id":null,"wc_attributes":[{"name":"Size","option":"M"}],"dimensions":null,"download_expiry":null,"download_limit":null,"downloadable":null,"downloads":[],"image":[],"images":[],"in_stock":null,"managing_stock":true,"regular_price":"123.0","sale_price":null,"shipping_class":null,"sku":null,"stock_quantity":321,"tax_class":null,"tax_status":null,"virtual":null,"weight":null,"created_at":null,"updated_at":null,"backordered":null,"backorders_allowed":null,"on_sale":null,"permalink":null,"price":null,"purchaseable":null,"shipping_class_id":null,"taxable":null,"visible":null,"backorders":null,"sale_price_dates_from":null,"sale_price_dates_to":null,"attributes":[{"name":"Size","option":"M"}]}],"virtual":null,"weight":null,"enable_html_description":true,"enable_html_short_description":true,"created_at":null,"updated_at":null,"average_rating":null,"backordered":null,"backorders_allowed":null,"featured_src":null,"on_sale":null,"permalink":null,"price":null,"price_html":null,"purchaseable":null,"rating_count":null,"related_ids":[],"shipping_class_id":null,"shipping_required":null,"shipping_taxable":null,"taxable":null,"visible":null,"sale_price_dates_from":null,"sale_price_dates_to":null,"backorders":null,"product_url":null,"button_text":null,"attributes":[{"name":"Size","option[...]
