---
http_interactions:
- request:
    method: get
    uri: https://wpcommercetest.wpengine.com/wc-api/v3/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2tfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY6Y3NfMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Pass-Why:
      - auth
      X-Type:
      - default
    body:
      encoding: UTF-8
      string: '{"store":{"name":"TradeGecko WooCommerce Test","description":"TradeGecko
        WooCommerce Test","URL":"http:\/\/wpcommercetest.wpengine.com","wc_version":"2.6.0","version":"3.1.0","routes":{"\/":{"supports":["HEAD","GET"],"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/"}},"\/coupons":{"supports":["HEAD","GET","POST"],"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/coupons"},"accepts_data":true},"\/coupons\/count":{"supports":["HEAD","GET"],"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/coupons\/count"}},"\/coupons\/<id>":{"supports":["HEAD","GET","POST","PUT","PATCH","DELETE"],"accepts_data":true},"\/coupons\/code\/<code>":{"supports":["HEAD","GET"]},"\/coupons\/bulk":{"accepts_data":true,"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/coupons\/bulk"},"supports":["POST","PUT","PATCH"]},"\/customers":{"supports":["HEAD","GET","POST"],"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/customers"},"accepts_data":true},"\/customers\/count":{"supports":["HEAD","GET"],"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/customers\/count"}},"\/customers\/<id>":{"supports":["HEAD","GET","POST","PUT","PATCH","DELETE"],"accepts_data":true},"\/customers\/email\/<email>":{"supports":["HEAD","GET"]},"\/customers\/<id>\/orders":{"supports":["HEAD","GET"]},"\/customers\/<id>\/downloads":{"supports":["HEAD","GET"]},"\/customers\/bulk":{"accepts_data":true,"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/customers\/bulk"},"supports":["POST","PUT","PATCH"]},"\/orders":{"supports":["HEAD","GET","POST"],"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/orders"},"accepts_data":true},"\/orders\/count":{"supports":["HEAD","GET"],"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/orders\/count"}},"\/orders\/statuses":{"supports":["HEAD","GET"],"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/orders\/statuses"}},"\/orders\/<id>":{"supports":["HEAD","GET","POST","PUT","PATCH","DELETE"],"accepts_data":true},"\/orders\/<order_id>\/notes":{"supports":["HEAD","GET","POST"],"accepts_data":true},"\/orders\/<order_id>\/notes\/<id>":{"supports":["HEAD","GET","POST","PUT","PATCH","DELETE"],"accepts_data":true},"\/orders\/<order_id>\/refunds":{"supports":["HEAD","GET","POST"],"accepts_data":true},"\/orders\/<order_id>\/refunds\/<id>":{"supports":["HEAD","GET","POST","PUT","PATCH","DELETE"],"accepts_data":true},"\/orders\/bulk":{"accepts_data":true,"meta":{"self":"https:\/\/wpcommercetest.wpengine.com\/wc-api\/v3\/orders\/bulk"}[...]
